.logo-txt img{
    max-width: 250px;
    max-height: 250px;
}
.logo-txt{
    height: 100vh;
}
.col{
    height: 60vh;
}
.sign-up-cont{
    height: 85vh;
}
.forgot{
    height: 30vh;
    padding: 0px 7rem !important;
    margin: 7rem 0px;
}
.input-icon{
    position: relative !important;
}
.input-icon i{
    font-size: 1.5rem;
    position: absolute !important;
    right: 15px;
    cursor: pointer;
}
.forgot-container{
    height: 100vh;
}
.forgot img{
    max-width: 250px;
    max-height: 250px;
}
.active-btn button[type=button]{
    min-width: 200px;
    min-height: 50px;
    margin-top: .5rem;
}
.sign-in-btn button[type=button]{
    background-color: blue;
}
.text-danger{
    font-size: 12px;
    font-weight: 600;
}