.appoitment_cont{
    width: 100%;
    overflow: hidden;
    padding: 10px !important;
}
.appointment_list{
    max-height: 88vh; 
    overflow-y: auto;  
    width: 100%; 
}
.appnt-card{
    border: 1px solid rgb(216, 216, 216);
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 8px 9px 18px -12px rgba(169, 169, 169, 1);
    -moz-box-shadow: 8px 9px 18px -12px rgba(169, 169, 169, 1);
    box-shadow: 8px 9px 18px -12px rgba(169, 169, 169, 1);
}
.appointment_details{
    height: 88vh !important;
    padding: 50px !important;
    overflow: scroll !important;
}
.appointment_details_card{
    height: 5.5rem !important;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 8px 8px 25px -10px rgba(145, 145, 145, 1);
    -moz-box-shadow: 8px 8px 25px -10px rgba(145, 145, 145, 1);
    box-shadow: 8px 8px 25px -10px rgba(145, 145, 145, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.appnt-card.highlighted {
    border: 2px solid #007bff; 
    background-color: #4f5af6; 
    color: white;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.highlighted {
    border: 2px solid #007bff; /* Example highlight effect */
    background-color: #f0f8ff; /* Example background color */
}